<div class='login_form'>
    <div class="header">
        <h4 class="title">Login</h4>
    </div>
    <div class="body">
        <%= form_tag sessions_path do %>
            <div class=”field”>
                <%= label_tag :email %>
                    <%= text_field_tag :email %>
            </div>
            <div class=”field”>
                <%= label_tag :password %>
                    <%= password_field_tag :password %>
            </div>
            <div class=”actions”>
                <p class="button">
                    <%= submit_tag "Log in" %>
                </p>
            </div>

            <% end %>
    </div>
</div>