<div class='signup_form'>
    <div class="header">
        <h4 class="title">Signup</h4>
    </div>
    <div class="body">
        <%= form_for @user do |form| %>
            <div class=”field”>
                <%= label_tag :name %>
                    <%= text_field_tag :name %>
            </div>
            <div class=”field”>
                <%= label_tag :email %>
                    <%= text_field_tag :email %>
            </div>
            <div class=”field”>
                <%= label_tag :password %>
                    <%= password_field_tag :password %>
            </div>
            <div class=”actions”>
                <%= form.submit 'Signup' %>
            </div>

            <% end %>
    </div>
</div>