<div class='staff_form'>
    <div class="header">
        <h4 class="title">Add Staff</h4>
    </div>
    <div class="body">
        <%= form_tag '/staffs' do |form| %>
            <div class=”field”>
                <div class=”field”>
                    <%= label_tag :name %>
                        <%= text_field_tag :name %>
                </div>
                <div class=”field”>
                    <%= label_tag :email %>
                        <%= text_field_tag :email %>
                </div>
                <div class=”field”>
                    <%= label_tag :password %>
                        <%= password_field_tag :password %>
                </div>
                <div class=”actions”>
                    <%= submit_tag "create" %>
                </div>

                <% end %>
            </div>
    </div>