<div class='signup_form'>
    <div class="header">
        <h4 class="title">Owner Dashboard</h4>
        <%= link_to  "Logout", logout_path %>
    </div>
    <div class="body">
        <%= @restaurant.name %>
    </div>
    <div class="staff-form">
        <%= render partial: 'staff_form.html.erb' %>
    </div>
    <div class="staff-listing">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Staffs Name</th>
                </tr>
            </thead>
            <tbody>
                <% @staffs.each do |staff| %>
                    <tr>
                        <th scope="row">
                            <%= staff[0] %>
                                <%= link_to  "Remove Staff", owner_dashboard_remove_staff_path(staff[1].to_s), remote: true %>
                        </th>
                    </tr>
                    <% end %>

            </tbody>
        </table>
    </div>
</div>